
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<input type="hidden" id="roleId" />
<div class="row">
    <div class="col-md-3">
        <label>Short Description</label>
    </div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="roleShortDescription" />
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label>Description</label>
    </div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="roleDescription" />
    </div>
</div>