
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form class="form-inline">
    <div class="row">
        <div class="col-md-3">
            <label>Loan</label>
        </div>
        <div class="col-md-9">
            <select class="form-control">
                <option></option>
                <option>A/P-Loans</option>
                <option>FRINGE BEN LOAN</option>
                <option>PAG CAL</option>
                <option>PAG-IBIG MULTI-PURPOSE LOAN</option>
                <option>RETIREMENT PLAN</option>
                <option>SSS SALARY LOAN</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Loan Principal</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Loan Amount</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Total Payment</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Balance</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Amortization</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-extended">
                <label>Deduct Every</label>
                <div class="row">
                    <div class="col-md-5">
                        <input type="checkbox" class="form-control" /> 1st Period
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" class="form-control" /> 3rd Period
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <input type="checkbox" class="form-control" /> 2st Period
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" class="form-control" /> 4th Period
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        &nbsp;
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" class="form-control" /> 5th Period
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Date Granted</label>
        </div>
        <div class="col-md-9">
            <div class="input-group date" data-onload-datetimepicker='{"locale": "cs", "format": "D. M. YYYY"}'>
                <input type="text" class="form-control"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Date Start</label>
        </div>
        <div class="col-md-9">
            <div class="input-group date" data-onload-datetimepicker='{"locale": "cs", "format": "D. M. YYYY"}'>
                <input type="text" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Amortization</label>
        </div>
        <div class="col-md-9">
            <textarea class="form-control" rows="4"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-9">
            <input type="checkbox" class="form-control" /> Hold Payment
        </div>
    </div>
</form>