@model IEnumerable<Payroll.Models.LoanCode>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*<div class="row">
        <div class="col-md-3">
            <label>Employee</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="loanEmployeesEntry" />
            <input type="hidden" id="loanEmployeesEntryId" />
        </div>
    </div>*@
<div class="row">
    <div class="col-md-3">
        <label>Loan</label>
    </div>
    <div class="col-md-9">
        <input type="hidden" id="loanId" />
        <select class="form-control" id="loanType">
            <option></option>
            @foreach (var item in Model)
            {
                <option value="@item.LoanCode1.Trim()">@Html.DisplayFor(modelItem => item.LoanDescr)</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label>Loan Principal</label>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" id="loanPrincipal" />
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label>Loan Amount</label>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" id="loanAmount" />
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label>Total Payment</label>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" id="loanTotalPayment" />
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label>Balance</label>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" id="loanBalance" />
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label>Amortization</label>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" id="loanAmortization" />
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-extended">
            <label>Deduct Every</label>
            <div class="row">
                <div class="col-md-5">
                    <input type="checkbox" id="loan1stPeriod" /> 1st Period
                </div>
                <div class="col-md-3">
                    <input type="checkbox" disabled id="loan3rdPeriod" /> 3rd Period
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <input type="checkbox" id="loan2ndPeriod" /> 2st Period
                </div>
                <div class="col-md-3">
                    <input type="checkbox" disabled id="loan4thPeriod" /> 4th Period
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    &nbsp;
                </div>
                <div class="col-md-3">
                    <input type="checkbox" disabled id="loan5thPeriod" /> 5th Period
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label>Date Granted</label>
    </div>
    <div class="col-md-9">
        <div class="input-group date">
            <input type="text" class="form-control" id="loanDateGranted" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label>Date Start</label>
    </div>
    <div class="col-md-9">
        <div class="input-group date">
            <input type="text" class="form-control" id="loanDateStart" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label>Remarks</label>
    </div>
    <div class="col-md-9">
        <textarea class="form-control" rows="4" id="loanRemarks"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        &nbsp;
    </div>
    <div class="col-md-9">
        <input type="checkbox" id="loanHoldPayment" /> Hold Payment
    </div>
</div>