
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form class="form-inline">
    <div class="row">
        <div class="col-lg-10">
            @*<h2 id="nav-tabs">Tabs</h2>*@
            <div class="bs-component">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#timesheet" data-toggle="tab">TimeSheet</a></li>
                    <li><a href="#OTsheet" data-toggle="tab">OT Sheet</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    
                </div>
            </div>
        </div>
    </div>
</form>