
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form class="form-inline">
    <div class="row">
        <div class="col-lg-10">
            @*<h2 id="nav-tabs">Tabs</h2>*@
            <div class="bs-component">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#timesheet" data-toggle="tab">TimeSheet</a></li>
                    <li><a href="#OTsheet" data-toggle="tab">OT Sheet</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="timesheet">
                        <h4>TimeSheet</h4>          
                        <div class="row">
                            <div class="col-md-4">
                                &nbsp;
                            </div>
                            <div class="col-md-2">
                                <label>Days</label>
                            </div>
                            <div class="col-md-2">
                                <label>Hours</label>
                            </div>
                            <div class="col-md-2">
                                <label>Minutes</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Regular</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Absences</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Tardy</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Undertime</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Regular ND1</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Regular ND2</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Paid Holiday</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Sick Leave</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Vacation Leave</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>LWOP</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="OTsheet">
                        <h4>OT Sheet</h4>
                        <div class="row">
                            <div class="col-md-4">
                                &nbsp;
                            </div>
                            <div class="col-md-2">
                                <label>First 8</label>
                            </div>
                            <div class="col-md-2">
                                <label>ND1</label>
                            </div>
                            <div class="col-md-2">
                                <label>Beyond 8</label>
                            </div>
                            <div class="col-md-2">
                                <label>ND2</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Regular OT</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Rest Day OT</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Legal Holiday</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Legal Rest Day</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Special Holiday</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Special RestDay</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Non Tax OT</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>