@model IEnumerable<Payroll.Models.DeductionCode>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form class="form-inline">
    <div class="row">
        <input type="hidden" id="deductionId" />
        <div class="col-md-3">
            <label>Description</label>
        </div>
        <div>
            <select class="form-control" id="deductionDescription">
                @foreach (var item in Model)
                {
                    <option value="@item.DedCode">@Html.DisplayFor(modelItem => item.DedDescr)</option>

                }
            </select>
            <input type="hidden" id="deductionCode" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Tran Date</label>
        </div>
        <div class="input-group date">
            <input type="text" class="form-control" id="deductionTranDate" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Amount</label>
        </div>
        <div>
            <input type="text" class="form-control" id="deductionAmount" />
        </div>
    </div>
    <div class="panel panel-default">
        <label>Recurring</label>
        <div class="row">
            <div class="col-md-3">
                <label>Recur Start</label>
            </div>
            <div class="input-group date">
                <input type="text" class="form-control" id="deductionRecurStart" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Recur End</label>
            </div>
            <div class="input-group date">
                <input type="text" class="form-control" id="deductionRecurEnd" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="panel-heading panel-heading-extended">
                <div class="row">
                    <div class="col-md-5">
                        <input type="checkbox" id="deduction1stPeriod" /> 1st Period
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" disabled id="deduction3rdPeriod" /> 3rd Period
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <input type="checkbox" id="deduction2ndPeriod" /> 2st Period
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" disabled id="deduction4thPeriod" /> 4th Period
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        &nbsp;
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" disabled id="deduction5thPeriod" /> 5th Period
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>