@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form class="form-inline">
    <div class="row">
        <div class="col-md-3">
            <label>Description</label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Tran Date</label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Amount</label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Recur Start</label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Recur End</label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" />
        </div>
    </div>
</form>