@model Tuple<IEnumerable<Payroll.Models.EarningCode>>
@{
    ViewData["Title"] = "Payroll Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payroll Transactions</h2>

<form class="form-inline">
    <div class="row">
        <div class="col-md-6">
            <label>Employee</label>
            <select class="form-control" onchange="loadSearchByType(this);" id="searchByType" style="display:none">
                <option selected value="Name">Name</option>
                <option value="EmpID">Employee Id</option>
                <option value="PayCode">PayCode</option>
                <option value="Department">Deparment</option>
            </select>
            <input type="text" class="form-control" placeholder="Search" id="payrollSearchText" />
            <input type="hidden" id="payrollSearchTextId"/>
            <input type="button" class="btn btn-link" value="Search" id="searchEmployee" />
        </div>
        <div class="col-md-6">
            <label>Show Employee with Status </label>
            <select class="form-control" id="payrollFilterBy">
                <option selected value="ACTIVE">Active</option>
                <option value="HOLD">Hold</option>
                <option value="RESIGNED">Resigned</option>
            </select>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="bs-component" id="payrollTabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#timesheet" data-toggle="tab" onclick="showPayrollUpdate();">TimeSheet</a></li>
                <li><a href="#otSheet" data-toggle="tab" onclick="showPayrollUpdate();">OT Sheet</a></li>
                <li><a href="#income" data-toggle="tab" onclick="hidePayrollUpdate();">Income</a></li>
                <li><a href="#deduction" data-toggle="tab" onclick="hidePayrollUpdate();">Deduction</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="timesheet">
                    <div class="row">
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-2">
                            <label>Days</label>
                        </div>
                        <div class="col-md-2">
                            <label>Hours</label>
                        </div>
                        <div class="col-md-2">
                            <label>Minutes</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Regular</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="tsRegularDays" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="tsRegularHours" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="tsRegularMinutes" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Absences</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="tsAbsencesDays" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="tsAbsencesHours"/>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="tsAbsencesMinutes"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Tardy</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="tsTardyDays"/>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="tsTardyHours"/>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="tsTardyMinutes"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Undertime</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="tsUndertimeDays"/>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="tsUndertimeHours"/>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="tsUndertimeMinutes"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Regular ND1</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="tsUndertimeDays"/>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Regular ND2</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Paid Holiday</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Sick Leave</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Vacation Leave</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>LWOP</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    
                </div>
                <div class="tab-pane fade" id="otSheet">
                    <div class="row">
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-2">
                            <label>First 8</label>
                        </div>
                        <div class="col-md-2">
                            <label>ND1</label>
                        </div>
                        <div class="col-md-2">
                            <label>Beyond 8</label>
                        </div>
                        <div class="col-md-2">
                            <label>ND2</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Regular OT</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Rest Day OT</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Legal Holiday</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Legal Rest Day</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Special Holiday</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Special RestDay</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Non Tax OT</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="income">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="incomeTable">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Tran Date</th>
                                    <th>Amount</th>
                                    <th>Recur Start</th>
                                    <th>Recur End</th>
                                    <th>Frequency</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div id="incomeModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h5 class="modal-title">Update Income Entry</h5>
                                </div>
                                <div class="modal-body">
                                    @Html.Partial("Income", Model.Item1)
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="addPayrollIncome" onclick="return add_PayrollIncome();">Add</button>
                                    <button type="button" class="btn btn-primary" id="updatePayrollIncome" style="display:none;" onclick="update_PayrollIncome();">Update</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <button type="button" class="btn btn-primary" id="addPayrollIncome" data-toggle="modal" data-target="#incomeModal" onclick="clearTextBox_PayrollIncome();">New</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="deduction">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="deductionTable">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Tran Date</th>
                                    <th>Amount</th>
                                    <th>Recur Start</th>
                                    <th>Recur End</th>
                                    <th>Frequency</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div id="deductionModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h5 class="modal-title">Update Deduction Entry</h5>
                                </div>
                                <div class="modal-body">
                                    @Html.Partial("Deduction")
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="addPayrollDeduction" onclick="return add_PayrollDeduction();">Add</button>
                                    <button type="button" class="btn btn-primary" id="updatePayrollDeduction" style="display:none;" onclick="update_PayrollDeduction();">Update</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <button type="button" class="btn btn-primary" id="addPayrollDeduction" data-toggle="modal" data-target="#deductionModal" onclick="add_PayrollDeduction();">New</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="updatePayroll" onclick="update_Payroll();">Update</button>
            </div>
        </div>
    </div>
</form>