
@{
    ViewData["Title"] = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Company</h3>
<form class="form-filter">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Company</label>
                <select class="form-control">
                    <option value="ABC">ABC Corporation</option>
                </select>
                <button type="button" class="btn btn-default">Select</button>
            </div>
        </div>
    </div>
</form>