@model IEnumerable<Payroll.Models.Company>
@{
    ViewData["Title"] = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Company</h3>


<div class="form-group row">
    <div class="col-sm-4">
        <div class="form-group">
            <label>Company</label>
            <select class="form-control" id="loanCompanyCode" data-onload-select2>
                @foreach (var item in Model)
                {
                    <option value="@item.CompanyId">@Html.DisplayFor(modelItem => item.CompanyName)</option>
                }
            </select>
            <button type="button" class="btn btn-default" onclick="selectedCompany('@Url.Action("SelectedCompany","Company")');" )>Select</button>
        </div>
    </div>
</div>