
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row">
    <div class="col-md-5">
        <label>Dependent Name</label>
    </div>
    <div class="col-md-7">
        <input type="text" class="form-control" id="dependentName" />
        <input type="hidden" class="form-control" id="dependentId" />
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <label>Date Activated</label>
    </div>
    <div class="col-md-7 input-group date" id="birthDatePicker" style="padding-left:15px;padding-right:15px;">
        <input type="text" class="form-control" id="birthDate" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </span>
    </div>
</div>
