
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row">
    <div class="col-md-6">
        <label>Dependent Name</label>
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" id="dependentsName" />
        <input type="hidden" class="form-control" id="dependentsId" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <label>Birth Date</label>
    </div>
    <div class="col-md-6 input-group date" id="birthDependentsDatePicker" style="padding-left:15px;padding-right:15px;">
        <input type="text" class="form-control" id="dependentsBirthDate" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </span>
    </div>
</div>
