@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <label>Employment Type</label>
        </div>
        <div class="col-md-9">
            <select class="form-control" id="employmentType"></select>
        </div>
        <div class="col-md-3">
            <label>Position</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Rank</label>
        </div>
        <div class="col-md-9">
            <select class="form-control" id="rank"></select>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <label>Status</label>
        </div>
        <div class="col-md-9">
            <select class="form-control" id="employmentStatus"></select>
        </div>
        <div class="col-md-3">
            <label>Date Employed</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Date Regularized</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Last Worked Date</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Date Terminated</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <label>Division</label>
        </div>
        <div class="col-md-9">
            <select class="form-control" id="division"></select>
        </div>
        <div class="col-md-3">
            <label>Department</label>
        </div>
        <div class="col-md-9">
            <select class="form-control" id="department"></select>
        </div>
        <div class="col-md-3">
            <label>Section</label>
        </div>
        <div class="col-md-9">
            <select class="form-control" id="section"></select>
        </div>
        <div class="col-md-3">
            <label>Cost Center</label>
        </div>
        <div class="col-md-9">
            <select class="form-control" id="costCenter"></select>
        </div>
    </div>
</div>