@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <label>Employment Type</label>
        </div>
        <div class="col-md-7">
            <select class="form-control" id="employmentType"></select>
        </div>
        <div class="col-md-2" style="text-align:right">
            <div id="employmentTypeEdit" onclick="ShowEmploymentTypeSave();" style="cursor:pointer">
                <a class='item-action item-action-raised' title='Edit'>
                    <span class="glyphicon glyphicon-pencil update" aria-hidden='true'></span>
                </a>
            </div>
            <div id="employmentTypeSave" onclick="ShowEmploymentTypeEdit();" style="display:none;cursor:pointer">
                <a class='item-action item-action-raised' title='Save'>
                    <span class="glyphicon glyphicon-save" aria-hidden='true'></span>
                </a>
                <a class='item-action item-action-raised' title='Cancel Changes'>
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden='true'></span>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <label>Position</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Rank</label>
        </div>
        <div class="col-md-9">
            <select class="form-control" id="rank"></select>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <label>Status</label>
        </div>
        <div class="col-md-7">
            <select class="form-control" id="employmentStatus"></select>
        </div>
        <div class="col-md-2" style="text-align:right">
            <div id="employmentStatusEdit" onclick="ShowEmploymentStatusSave();" style="cursor:pointer">
                <a class='item-action item-action-raised' title='Edit'>
                    <span class="glyphicon glyphicon-pencil update" aria-hidden='true'></span>
                </a>
            </div>
            <div id="employmentStatusSave" onclick="ShowEmploymentStatusEdit();" style="display:none; cursor:pointer">
                <a class='item-action item-action-raised' title='Save'>
                    <span class="glyphicon glyphicon-save" aria-hidden='true'></span>
                </a>
                <a class='item-action item-action-raised' title='Cancel Changes'>
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden='true'></span>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <label>Date Employed</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Date Regularized</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Last Worked Date</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Date Terminated</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <label>Division</label>
        </div>
        <div class="col-md-7">
            <select class="form-control" id="division"></select>
        </div>
        <div class="col-md-2" style="text-align:right">
            <div id="divisionEdit" onclick="ShowDivisionSave();" style="cursor:pointer">
                <a class='item-action item-action-raised' title='Edit'>
                    <span class="glyphicon glyphicon-pencil update" aria-hidden='true'></span>
                </a>
            </div>
            <div id="divisionSave" onclick="ShowDivisionEdit();" style="display:none; cursor:pointer">
                <a class='item-action item-action-raised' title='Save'>
                    <span class="glyphicon glyphicon-save" aria-hidden='true'></span>
                </a>
                <a class='item-action item-action-raised' title='Cancel Changes'>
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden='true'></span>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <label>Department</label>
        </div>
        <div class="col-md-9">
            <select class="form-control" id="department"></select>
        </div>
        <div class="col-md-3">
            <label>Section</label>
        </div>
        <div class="col-md-9">
            <select class="form-control" id="section"></select>
        </div>
        <div class="col-md-3">
            <label>Cost Center</label>
        </div>
        <div class="col-md-9">
            <select class="form-control" id="costCenter"></select>
        </div>
    </div>
</div>