
@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@section scripts {
    <script src="~/js/employee.js" asp-append-version="true"></script>
}

<h2>Employee Maintenance</h2>

<div class="form-inline">
    <div class="row">
        <div class="col-md-6">
            <label>Employee</label>
            <select class="form-control" id="searchByType">
                <option selected value="Name">Name</option>
                <option value="EmpID">Employee Id</option>
                <option value="PayCode">PayCode</option>
                <option value="Department">Deparment</option>
            </select>
            <input type="text" class="form-control" placeholder="Search" id="employeeSearchText" />
            <select class="form-control" id="employeeSearchList" style="display:none"></select>
            <input type="hidden" id="employeeSearchTextId" />
            <button type="button" class="btn btn-link" value="Search" id="searchEmployee">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
        <div class="col-md-6">
            <label>Show Employee with Status </label>
            <select class="form-control" id="employeeFilterBy">
                <option selected value="ACTIVE">Active</option>
                <option value="HOLD">Hold</option>
                <option value="RESIGNED">Resigned</option>
            </select>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="navbar-left col-md-4">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="employeeTable">
                <thead>
                    <tr>
                        <th>Employee Id</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="navbar-left col-md-8">
        <div class="row">
            <div class="bs-component" id="employeeTabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#personal" data-toggle="tab" onclick="return false;">Personnal</a></li>
                    <li><a href="#employment" data-toggle="tab" onclick="return false;">Employment</a></li>
                    <li><a href="#payroll" data-toggle="tab" onclick="return false;">Payroll</a></li>
                    <li><a href="#statutory" data-toggle="tab" onclick="return false;">Statutory</a></li>
                    <li><a href="#prevEmployers" data-toggle="tab" onclick="return false;">Prev Employers</a></li>
                    <li><a href="#dependents" data-toggle="tab" onclick="return false;">Dependents</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="personal">
                        <label class="text-primary" id="personalInfo">Personal Info :</label>
                        <hr/>
                        @Html.Partial("Personal")
                    </div>
                    <div class="tab-pane fade" id="employment">
                        <label class="text-primary" id="employmentInfo">Employment Info :</label>
                        <hr />
                        @Html.Partial("Employment")
                    </div>
                    <div class="tab-pane fade" id="payroll">
                        <label class="text-primary" id="payrollInfo">Payroll Info :</label>
                        <hr />
                        @Html.Partial("Payroll")
                    </div>
                    <div class="tab-pane fade" id="statutory">
                        <label class="text-primary" id="statutoryInfo">Statutory Info :</label>
                        <hr />
                        @Html.Partial("Statutory")
                    </div>
                    <div class="tab-pane fade" id="prevEmployers">
                        <label class="text-primary" id="prevEmployersInfo">Previous Employers:</label>
                        <hr />
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="prevEmployerTable">
                                <thead>
                                    <tr>
                                        <th>Employer Name</th>
                                        <th>Date Employed</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="footer">
                            <input type="button" class="btn btn-primary" id="newPayrollIncome" data-toggle="modal" data-target="#incomeModal" onclick="return false;" value="New">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="dependents">
                        <label class="text-primary" id="dependentsInfo">Dependents:</label>
                        <hr />
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dependentTable">
                                <thead>
                                    <tr>
                                        <th>Depended Name</th>
                                        <th>Date of Birth</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="footer">
                            <input type="button" class="btn btn-primary" id="newPayrollDeduction" data-toggle="modal" data-target="#deductionModal" onclick="return false;" value="New">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="messageModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">Message</h5>
                    </div>
                    <div class="modal-body" id="modalMessage">
                        <h4>TimeSheet Successfully saved.</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>