@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <label>Pay Code</label>
        </div>
        <div class="col-md-9">
            <select class="form-control"></select>
        </div>
        <div class="col-md-3">
            <label>Payroll Type</label>
        </div>
        <div class="col-md-9">
            <select class="form-control"></select>
        </div>
        <div class="col-md-3">
            <label>Compute as Daily</label>
        </div>
        <div class="col-md-9">
            <select class="form-control"></select>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="row"></div>
        <div class="col-md-3">
            <label>Payment Type</label>
        </div>
        <div class="col-md-9">
            <select class="form-control"></select>
        </div>
        <div class="col-md-3">
            <label>Bank</label>
        </div>
        <div class="col-md-9">
            <select class="form-control"></select>
        </div>
        <div class="col-md-3">
            <label>Branch</label>
        </div>
        <div class="col-md-9">
            <select class="form-control"></select>
        </div>
        <div class="col-md-3">
            <label>Bank Acct. No.</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control"/>
        </div>
        <div class="col-md-3">
            <label>Allow OT</label>
        </div>
        <div class="col-md-9">
            <select class="form-control"></select>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <label>Salary</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Daily Rate</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Hourly Rate</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Minute Rate</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" />
        </div>
    </div>
</div>