
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="form-group">
    <div class="col-md-3">
        <label>Employee No.</label>
    </div>
    <div class="col-md-7">
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-2" style="text-align:right">
        <div id="employmentEdit" onclick="ShowEmploymentSave();" style="cursor:pointer">
            <a class='item-action item-action-raised' title='Edit'>
                <span class="glyphicon glyphicon-pencil update" aria-hidden='true'></span>
            </a>
        </div>
        <div id="employmentSave" onclick="ShowEmploymentEdit();" style="display:none;cursor:pointer">
            <a class='item-action item-action-raised' title='Save'>
                <span class="glyphicon glyphicon-save" aria-hidden='true'></span>
            </a>
            <a class='item-action item-action-raised' title='Cancel Changes'>
                <span class="glyphicon glyphicon-remove-sign" aria-hidden='true'></span>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <label>Last Name</label>
    </div>
    <div class="col-md-7">
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-3">
        <label>First Name</label>
    </div>
    <div class="col-md-7">
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-3">
        <label>Middle Name</label>
    </div>
    <div class="col-md-7">
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-3">
        <label>Gender</label>
    </div>
    <div class="col-md-7">
        <select class="form-control">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
    </div>
    <div class="col-md-3">
        <label>Birth Date</label>
    </div>
    <div class="col-md-7">
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-3">
        <label>Adress</label>
    </div>
    <div class="col-md-7">
        <textarea class="form-control"></textarea>
    </div>
</div>