@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <label>SSS #</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4">
            <label>SSS Exempted</label>
        </div>
        <div class="col-md-8">
            <select class="form-control">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <label>Philhealth #</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4">
            <label>Philhealth Exempted</label>
        </div>
        <div class="col-md-8">
            <select class="form-control">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <label>PAG IBIG #</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4">
            <label>Pagibig Addlt</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4">
            <label>Pagibig 2% rate</label>
        </div>
        <div class="col-md-8">
            <select class="form-control">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="col-md-4">
            <label>PAG IBIG Exempted</label>
        </div>
        <div class="col-md-8">
            <select class="form-control">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <label>TIN #</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4">
            <label>TEU</label>
        </div>
        <div class="col-md-8">
            <select class="form-control" id="teu"></select>
        </div>
        <div class="col-md-4">
            <label>Tax Rate</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4">
            <label>Tax Exempted</label>
        </div>
        <div class="col-md-8">
            <select class="form-control">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
    </div>
</div>