@model Payroll.Models.Users

<form asp-action="Detail">
    <div class="form-horizontal">
        <h4>Users</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Application" />
    <input type="hidden" asp-for="UserId" />
        <div class="form-group">
            <label asp-for="UserFname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserFname" class="form-control" />
                <span asp-validation-for="UserFname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserLname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserLname" class="form-control" />
                <span asp-validation-for="UserLname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Activated" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Activated" class="form-control" />
                <span asp-validation-for="Activated" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </d iv>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div id="dialog-edit" style="display: none">

</div>